  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-2">
            <i class="fas fa-ship"></i> <strong>Amicus Shipping LLC</strong>
          </p>
          <p class="mb-2">
            Maritime Services | Global SIM Solutions | Ship Support
          </p>
          <p class="mb-0">
            Copyright &copy; 2025 Amicus Shipping LLC. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
